# ignore all large datafiles
*.arrow

# ignore Identifiers
dataframe.arrow:Zone.Identifier

# ignore vector plots
*.svg
*.pdf

# ignore all cluster errors and output files
*.err
*.out

# ignore all vscode settings
.vscode/